#config file with bluemix watson service username and password
.config

#testing subtitle, audio and video files
resources/
*.srt
*.wav
*.avi
*.mkv

#testing directory with watson examples
watson-examples/

#target directory
target/
